In [1]:
INPUT_FILE = '../data/processed/enriched_df.csv'
POPULATION_FILE = '../data/raw/total_pop_1960_2018.csv'
META_DATA = '../data/raw/meta_data.csv'

In [10]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import cufflinks as cf
cf.go_offline()

%matplotlib inline

In [3]:
%load_ext autoreload
%autoreload 2

## Read in data

In [4]:
df = pd.read_csv(INPUT_FILE)
# df_population = pd.read_csv(POPULATION_FILE, skiprows=4)

In [5]:
df.head()

,country,year,sex,age,suicides_no,population,fraction_pop,total_population
0,Albania,1985,female,15-24 years,NaN,277900.0,0.088361,2964762.0
1,Albania,1985,female,25-34 years,NaN,246800.0,0.083171,2964762.0
2,Albania,1985,female,35-54 years,NaN,267500.0,0.134128,2964762.0
3,Albania,1985,female,5-14 years,NaN,298300.0,0.089561,2964762.0
4,Albania,1985,female,55-74 years,NaN,138700.0,0.084270,2964762.0

## Plot some graphs

In [24]:
df_suicides = df.groupby(['year', 'sex'])['suicides_no'].sum().reset_index()

In [25]:
df_suicides.head()

   year     sex  suicides_no
0  1979  female      29418.0
1  1979    male      63372.0
2  1980  female      42662.0
3  1980    male     110886.0
4  1981  female      47530.0

In [28]:
df_suicides.pivot(index='year', columns='sex', values='suicides_no')

sex    female      male
year
1979  29418.0   63372.0
1980  42662.0  110886.0
1981  47530.0  130484.0
1982  47681.0  135212.0
1983  34823.0   87607.0
1984  34811.0   89616.0
1985  50417.0  147116.0
1986  51517.0  137708.0
1987  50251.0  136113.0
1988  48518.0  132898.0
1989  47795.0  138248.0
1990  53388.0  152119.0
1991  51351.0  153405.0
1992  53466.0  165634.0
1993  53093.0  176150.0
1994  53525.0  187103.0
1995  55235.0  190680.0
1996  55514.0  194839.0
1997  55054.0  189268.0
1998  56609.0  196670.0
1999  57197.0  202787.0
2000  56243.0  203662.0
2001  54141.0  200930.0
2002  56587.0  203814.0
2003  56666.0  203763.0
2004  54347.0  190902.0
2005  53123.0  185499.0
2006  53016.0  184184.0
2007  54290.0  182921.0
2008  54997.0  184371.0
2009  55889.0  191435.0
2010  55129.0  187114.0
2011  55468.0  184504.0
2012  54034.0  180051.0
2013  53223.0  176198.0
2014  53030.0  174763.0
2015  48526.0  159382.0
2016   3708.0   12775.0

In [20]:
df_suicides.iplot(x='year', y=['suicides_no'])